
.skills{
    background-color: #332d2d;
    animation-name: hey;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1s;
    padding:70px 0;
}



.skills-title {
    color:white;
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
}

.skills > ul {
    margin: 0 auto;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;

}

.skills > ul > li{
    padding: 5px 10px;
    margin-bottom: 20px;
    font-weight: 500;
    color:maroon;
    background: white;
    border-radius: 20px;
    margin-right: 20px;
    /* cursor: pointer; */
    transition: all 0.5s ease;
    font-size: 25px;
    text-align: center;
}

.skills > ul > li:hover {
    color:white;
    background: maroon;
}