*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}

/* ---------------------------- */



/* *{
    margin: 0;
    padding: 0;
}

body{
    top:0;
    left:0;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
} */
.navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: maroon;
    z-index: 1;
}



.nav-ul{
    display: flex;
    list-style: none;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (max-width: 400px) {
    .nav-ul {
        /* flex-direction: column; */
    }
  }


.nav-link{
    text-decoration: none;
    color:white;

}
@media (max-width: 400px) {
    .nav-li  {
       padding: 10px;
    }
  }


.nav-li a{
    font-size: 2rem;
    padding: 1rem 2rem;

}

@media (max-width: 400px) {
    .nav-li a {
        font-size: 12px;
        padding: 10px;
    }
  }

.nav-link:hover{
    background: darkviolet;
}


.welcome-section{
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    animation-name: hey;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1s;
}
@keyframes hey{
    0%{
        top:0;
    }
    50%{
        top: -100vh;
    }
    100%{
        top:0;
    }
}





.welcome-title{
  color: white;
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 768px) {
    .welcome-title {
        font-size: 3rem;
    }
  }

.welcome-subtitle {
    color:maroon;
    font-size: 3rem;
    font-weight:200;
    font-style:italic;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .welcome-subtitle {
        font-size: 2rem;
    }
  }

.about{
    color: white;
    font-size: 28px;
    max-width: 50%;
    margin-top:20px;
}

@media (max-width: 768px) {
    .about {
        max-width: 80%;
    }
  }









footer{
    background-color: #332d2d;
    padding: 2rem;
}

footer > p{
    font-size: 20px;
    display: inline;
    margin: 2rem;
    color:white;


}

.link-footer{
    text-decoration: none;
   color:white;
}

@media only screen and (max-width:1300px) {
    footer{
       display: flex;
       justify-content: space-between;
    }

}





@media only screen and  (max-width: 780px ) {
    .nav-li a{
        font-size: 1rem;
    }

}


@media (max-width: 480px) {
    footer {
        flex-direction: column;
    }
  }

